section {
  margin: 1rem auto;
  width: 90%;
  max-width: 1500px;
  text-align: center;
  background-color: white;
  padding: 0.75rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: black;
  border: 1px solid black;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

